<div class="top-main">
    <div><p class="main-popular">Спсособы оплаты</p></div>
    <ul class="list-group">
        <li class="list-group-item list-PT"><span class="del-PR"></span><a>Доставка при помощи ПОЧТЫРОССИИ</a></li>
        <li class="list-group-item list-PT"><span class="del-courier"></span><a>Доставка при помощи курьера</a></li>
        <li class="list-group-item list-PT"><span class="del-devyatka"></span><a>Доставка на пацанском тазе</a></li>
    </ul>
</div>   