@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="top-main">
        <div><p class="main-popular">Спсособы оплаты</p></div>
        <ul class="list-group">
            <li class="list-group-item list-PT"><span class="pt-mc"></span><a>Оплата при помощи карты MASTERCATD</a></li>
            <li class="list-group-item list-PT"><span class="pt-mir"></span><a>Оплата при помощи карты МИР</a></li>
            <li class="list-group-item list-PT"><span class="pt-ym"></span><a>Оплата при помощи сервиса(ГОВНО ПО МОЕМУ) Яндекс.Деньги</a></li>
            <li class="list-group-item list-PT"><span class="pt-visa"></span><a>Оплата при помощи карты Visa</a></li>
        </ul>
    </div>   